body{
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFA07A;
}
.principal{
    width: 370px;
    height: 410px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #FFB775;
    border: 1.5px solid black;
    text-align: center;
}
button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: transparent;
    bottom: 7px;
    background-color: #FF7F50;
    transition: transition 0.5s ease;
}
button:hover{
    border: 1.3px solid white;
}
h2{
    text-align: center;
    padding-top: 15px;
    margin: 0;
    font-family: "Itim", cursive;
    font-size: 30px;
    color: black;
}
h3{
    text-align: center;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 10px;
    font-family: "Outfit", sans-serif;
    font-size: 19px;
    color: black;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "Outfit", sans-serif;
    font-size: 17px;
    transition: transition 0.5s ease;
}
a:hover{
    font-weight: bolder;
    color: white;
}
input{
    position: relative;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}
img{
    width: 130px;
    height: 130px;
}